{% extends 'base.html.twig' %}

{% block title %}New Recipes{% endblock %}

{% block body %}
    <h1>Create new Recipes</h1>

    {{ include('recipes/_form.html.twig') }}

    <a href="{{ path('recipes_index') }}">back to list</a>
{% endblock %}
